/harjoitustyo/StocksPal/target/
/harjoitustyo/StocksPal/StocksPalDB.db

/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
